# Sample Data Exploration

### Create a dataframe
 First we use the read excel function to create a dataframe of the excel sheet

In [2]:
import pandas as pd

df = pd.read_excel('sample_data.xlsx')

In [7]:
import pandas as pd

# # Load the Excel file
# # Specify the sheet name or index to read a specific sheet
# df_sheet1 = pd.read_excel('sample_data.xlsx', sheet_name='Sheet1')
# df_sheet2 = pd.read_excel('sample_data.xlsx', sheet_name='Sheet2')
# df_sheet3 = pd.read_excel('sample_data.xlsx', sheet_name='Sheet3')

# # If you know the sheet names:
# df_sheet1 = pd.read_excel('sample_data.xlsx', sheet_name='YourSheetName1')
# df_sheet2 = pd.read_excel('sample_data.xlsx', sheet_name='YourSheetName2')
# df_sheet3 = pd.read_excel('sample_data.xlsx', sheet_name='YourSheetName3')

# Or use the sheet index (0-based index):
df_sheet1 = pd.read_excel('sample_data.xlsx', sheet_name=0)  # First sheet
df_sheet2 = pd.read_excel('sample_data.xlsx', sheet_name=1)  # Second sheet
df_sheet3 = pd.read_excel('sample_data.xlsx', sheet_name=2)  # Third sheet

### Display the first few rows of the DataFrame

In [13]:
print(df_sheet3.head())

   S/N                      CONPANY NAME        SECTOR  YEAR
0    1  Livestock Feeds PLC (LIVESTOC NL)  Agriculture  2014  \
1    1  Livestock Feeds PLC (LIVESTOC NL)  Agriculture  2015
2    1  Livestock Feeds PLC (LIVESTOC NL)  Agriculture  2016
3    1  Livestock Feeds PLC (LIVESTOC NL)  Agriculture  2017
4    1  Livestock Feeds PLC (LIVESTOC NL)  Agriculture  2018

   INDUSTRY DIFFERENCES  FIRM AGE  LEVERAGE       IOS  GROWTH     ROA
0                     1        36    0.9712  2.305070  0.5673  0.0442  \
1                     1        37    0.2696  0.684762 -0.2057  0.0411
2                     1        38    1.1002  0.806904  0.6101  0.0207
3                     1        39    0.9626  1.198930 -0.2878 -0.1385
4                     1        40    1.1475  1.124697 -0.2495 -0.1960

   FIRM SIZE  Tobins Q  Unnamed: 12
0   6.759878  1.127603            9
1   6.659870  0.406023            8
2   6.866732  0.540211            7
3   6.719325  0.856883            6
4   6.594651  0.755275            5

In [4]:
# Display the last few rows of the DataFrame
print(df.tail())

     S/N                           CONPANY NAME              SECTOR  YEAR
355   40  Thomas Wyatt Nigeria PLC (THOMASWY NL)  Natural Resources  2018  \
356   40  Thomas Wyatt Nigeria PLC (THOMASWY NL)  Natural Resources  2019
357   40  Thomas Wyatt Nigeria PLC (THOMASWY NL)  Natural Resources  2020
358   40  Thomas Wyatt Nigeria PLC (THOMASWY NL)  Natural Resources  2021
359   40  Thomas Wyatt Nigeria PLC (THOMASWY NL)  Natural Resources  2022

     Altman's Z-Score  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8
355             -2.44         NaN         NaN         NaN         NaN  \
356             -2.85         NaN         NaN         NaN         NaN
357               NaN         NaN         NaN         NaN         NaN
358               NaN         NaN         NaN         NaN         NaN
359               NaN         NaN         NaN         NaN         NaN

     Unnamed: 9  ...  Board Ethnicity  Board Expertise  board duality
355         NaN  ...              NaN              NaN            NaN  \
356         NaN  ...              NaN              NaN            NaN
357         NaN  ...              NaN              NaN            NaN
358         NaN  ...              NaN              NaN            NaN
359         NaN  ...              NaN              NaN            NaN

     Board Diligence  Return on Asset  Return on Equity  Return on Sales  LQ
355              NaN              NaN               NaN              NaN NaN  \
356              NaN              NaN               NaN              NaN NaN
357              NaN              NaN               NaN              NaN NaN
358              NaN              NaN               NaN              NaN NaN
359              NaN              NaN               NaN              NaN NaN

     FIRM SIZE  FIRM AGE
355        NaN       NaN
356        NaN       NaN
357        NaN       NaN
358        NaN       NaN
359        NaN       NaN

[5 rows x 27 columns]

In [5]:
# Get the shape of the DataFrame (rows, columns)
print(df.shape)

(360, 27)

In [6]:
# Get a concise summary of the DataFrame, including data types and non-null counts
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S/N                360 non-null    int64
 1   CONPANY NAME       360 non-null    object
 2   SECTOR             360 non-null    object
 3   YEAR               360 non-null    int64
 4   Altman's Z-Score   310 non-null    float64
 5   Unnamed: 5         0 non-null      float64
 6   Unnamed: 6         0 non-null      float64
 7   Unnamed: 7         0 non-null      float64
 8   Unnamed: 8         0 non-null      float64
 9   Unnamed: 9         0 non-null      float64
 10  REM COMM DIS       0 non-null      float64
 11  BIG 4              0 non-null      float64
 12  CEO Gender         0 non-null      float64
 13  Board Size         0 non-null      float64
 14  Ceo Duality        0 non-null      float64
 15  Gender Diversity   0 non-null      float64
 16  Board Nationality  0 non-null      float64
 17  Board Ethnicity    0 non-null      float64
 18  Board Expertise    0 non-null      float64
 19  board duality      0 non-null      float64
 20  Board Diligence    0 non-null      float64
 21  Return on Asset    7 non-null      float64
 22  Return on Equity   0 non-null      float64
 23  Return on Sales    0 non-null      float64
 24  LQ                 0 non-null      float64
 25  FIRM SIZE          0 non-null      float64
 26  FIRM AGE           0 non-null      float64
dtypes: float64(23), int64(2), object(2)
memory usage: 76.1+ KB
None